@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-poppins
}


.ReactFlagsSelect-module_selectValue__152eS>.ReactFlagsSelect-module_label__27pw9 {
    font-size: 0rem !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
    border: transparent !important;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ {

    @apply w-[200px] md:w-[393px]
}

.bg-with-gradient {
    background: linear-gradient(270deg, rgba(217, 217, 217, 0) 0%, rgba(193, 193, 194, 0.373465) 33.58%, rgba(92, 115, 146, 0.704136) 55.31%, rgba(52, 84, 127, 0.835258) 74.57%, #022D67 98.77%);
}


/* Define the style for the active link */
.active-link {
    color: #009580;
    /* Change color for active link */

}

.active-link::after {
    content: ' ';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #009580;
    /* Change color on hover */
}


/* Example of custom styles for navigation links */
.nav-link {
    padding: 10px;
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
    position: relative;
}

.nav-link:hover {
    @apply text-primary
    /* Change color on hover */
}

.nav-link:hover::after {
    content: ' ';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #009580;
    /* Change color on hover */
}

/* Add more custom styles as needed */

.row-title.closed span {
    /* background-color: #009580 !important; */
    /* color: #fff !important; */
    border-radius: 100%;
    width: 25px !important;
    height: 25px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 1px solid gray !important;
}

.row-title.expanded span {
    background-color: #009580 !important;
    color: #fff !important;
    border-radius: 100%;
    width: 25px !important;
    height: 25px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.row-title-text {
    font-weight: 600 !important;
}

.quill {
    overflow: hidden !important;
    border: none !important;
}

.ql-container .ql-snow {
    border: none !important;
}

.ql-toolbar.ql-snow {
    overflow: hidden !important;
    border: none !important;
    padding: 15px 10px;
    background-color: #F2F4F7;
    border-radius: 15px 15px 0 0;

}



.ql-container.ql-snow {
    border: none !important;
    margin: 15px 5px;
}